[submodule "third_party/gn"]
	path = third_party/gn
	url = https://gn.googlesource.com/gn
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
